@model IEnumerable<Project.Models.Student>

@{
    ViewBag.Title = "Adams";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.FirstName @item.LastName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.StudentID</h6>
            <p class="card-text">@item.FavoriteColor.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>




    @Html.ActionLink("Details", "Details", new { id = item.StudentID })


}




